*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	padding: 20px;
	font-family: raleway_f,sans-serif;
	line-height: 2;
}
.main{
	/* background-color: antiquewhite;  */
	width: 80%;
	margin: auto;
	padding: 20px;
	max-width: 1300px;
	
	
}
:root{
	--index:calc(1vw + 1vh);
}
@font-face {
	font-family: raleway_f;
	src: url(/fonts/raleway-black.woff2);
}
@font-face {
	font-family:raleway_f ;
	src: url(/fonts/raleway-regular.woff2);
	font-weight: 900px;
}
.main_header{
	
}
.header_caption{
	font-size: calc(var(--index)*2);
	letter-spacing: calc(var(--index)*.5);
	padding-bottom: 10px;
	
	
}
.link{
	border: 1px solid #eaecef;
	height: 1px;
}
.links{
	min-width: 1040px;
	
	
	

	
	
}
p{
	font-size: calc(var(--index)/2);
	letter-spacing: calc(var(--index)/35);
	list-style: none;
	display: inline-block;
	margin-right:calc(var(--index)*2) ;
	
}
p a{
	text-decoration: none;
	color: black;
}
hr{
	/* width: 80%;
	margin: auto;
	background-color: #A9AFA7;;
	height: 5px; */
	height: 0.25em;
  padding: 0;
  margin: 15px 0;
  background-color: #e1e4e8;
  border: 0;
	
}
.about_me, .title_skill, .code_exp, .education, .languages{
	margin-top: 30px;
	font-size:calc(var(--index)*1.1);
	
}
.table{
	margin-left: 15px;
	font-size: calc(var(--index)/1.8);
	letter-spacing: calc(var(--index)/35);
}
.box_for_code{
	background-color: #f8f8f8;
	padding: 16px;
	overflow: auto;
	font-size: calc(var(--index)/1.8);
	line-height: 1.45;
	background-color: #f6f8fa;
	border-radius: 5px;
}